<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>

<div id="content">

  <table class="markup-table">
  <tr>
    <td>
      <h1>T&amp;S Space Users</h1>
    </td>
    <td>
      <div class="submit-button" style="float:right;">
        <a href="admin?page=add_user">Add User</a>
      </div>
    </td>
  </tr>
  </table>

  <table class="results-table" width=100%>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
    </tr>
    {% for item in data.users.all_users %}
      <tr>
        <td>{{ item.id }}</td>
        <td><a href="admin?page=user_profile&id={{ item.id }}">{{ item.name }}</a></td>
        <td>{{ item.email }}</td>
        <td>{{ item.role }}</td>
        <td>{{ item.status }}</td>
      </tr>
    {% endfor %}
  </table>

</div>

</body>
</html>
{% endautoescape %}
