<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/scripts/edit_page.js"></script>

<script type="text/javascript">

function edit_save (field_name) {
  edit_save_finish (field_name, true);
/*
  if (edit_field_changed(field_name)) {
    edit_save_finish (field_name, true);
    return;
  }

  $.ajax (
    {
      type: "POST", // POST or GET
      url: "ajax",
      dataType: "json",
      data: {
        request_id: "client.update_client_field",
        client_id: 0,
        field: field_name,
        value: document.getElementById(field_name).value
      }
    }
  ).done ( function (response)
    {
      if (response.status == 0) {
        // all good
        edit_save_finish (field_name, true);
      } else {
        // error
        edit_save_finish (field_name, false);
      }
    }
  )
*/
}

function toggle_add_note ()
{
  $("#add_note").slideToggle ("fast");
  $("#toggle_arrow_down").toggle (0);
  $("#toggle_arrow_up").toggle (0);

  document.getElementById ("custom").value = $("#custom-search").is (":visible");
}

</script>

{% set proj_colors = {"Completed": "#00FF00", "In progress": "#FFFF00", "Overdue": "#FF0000"} %}

</head>

<body>

  <table class="markup-table">
    <tr>
      <td>
        <h1>General Info
          <a id="edit-page-enable-btn" href="javascript:edit_page_enable ()">
            <span class="edit-icon entypo-pencil icon-color"></span>
          </a>
          <a id="edit-page-disable-btn" href="javascript:edit_page_disable ()" hidden>
            <span class="edit-icon fontawesome-remove icon-color"></span>
          </a>
        </h1>
      </td>
      <td style="text-align:right;"><h1>{{ data.general.client_name }}</h1></td>
    </tr>
    <tr>
      <td>
        <label>Consultant</label>
        
        <select id="consultant" style="margin-left:10px" disabled>
          {% for id, cons in data.general.consultants.iteritems () %}
            <option value="{{ id }}" {% if id == data.general.consultant %} selected {% endif %}>{{ cons.name }}</option>
          {% endfor %}
        </select>

        <a class="edit-field-enable-btn" id="consultant-edit-btn" href="javascript:edit_enable ('consultant')" hidden>
          <span class="edit-icon entypo-pencil icon-color"></span>
        </a>
        <a class="edit-field-save-btn" id ="consultant-save-btn" href="javascript:edit_save ('consultant')" hidden>
          <span class="edit-icon fontawesome-ok icon-color"></span>
        </a>
        <a class="edit-field-cancel-btn" id="consultant-cancel-btn" href="javascript:edit_cancel ('consultant')" hidden>
          <span class="edit-icon fontawesome-remove icon-color"></span>
        </a>
      </td>
      <td style="text-align:right;">
        <label style="margin-left:10px">Ref</label>
        <input style="margin-left:10px; width:100px" type="text" name="id" value="{{ data.general.reference }}" disabled>
      </td>
    </tr>
  </table>
  
  <hr/>

  <table class="markup-table">
    <tr>
      <td style="width: 50%">
        <table class="form-table" style="padding-right:10px;">
          <tr>
            <th colspan=2>Projects</th>
          </tr>
           {% for proj in data.general.projects %}
            <tr>
              <td style="width: 70%"> <a href"#"><span>{{proj.title}}</span></a></td>
              <td><span style="color:{{proj_colors[proj.status]}}">{{ proj.status }}</span></td>
            </tr>
          {% endfor %}
          <tr>
            <td><a href="#">View all {{ data.general.total_projects }} project(s)</a></td>
            <td></td>
          </tr>
        </table>

      </td>
      <td style="width: 50%">
        <table class="form-table">
          <tr>
            <th colspan=2>Payments</th>
          </tr>
          <tr>
            <td style="width: 40%">Xero ID</td>
            <td>
              <input type="text" id="xero_id" style="width: 100px" value="{{ data.general.payments.xero_id }}" disabled>
              <a class="edit-field-enable-btn" id="xero_id-edit-btn" href="javascript:edit_enable ('xero_id')" hidden>
                <span class="edit-icon entypo-pencil icon-color"></span>
              </a>
              <a class="edit-field-save-btn" id ="xero_id-save-btn" href="javascript:edit_save ('xero_id')" hidden>
                <span class="edit-icon fontawesome-ok icon-color"></span>
              </a>
              <a class="edit-field-cancel-btn" id="xero_id-cancel-btn" href="javascript:edit_cancel ('xero_id')" hidden>
                <span class="edit-icon fontawesome-remove icon-color"></span>
              </a>
            </td>
          </tr>
          <tr>
            <td>Total invoices</td>
            <td>{{ data.general.payments.total_invoices }}</td>
          </tr>
          <tr>
            <td>Unpaid</td>
            <td>{{ data.general.payments.unpaid_invoices }}</td>
          </tr>
          <tr>
            <td>Overdue</td>
            <td>{{ data.general.payments.overdue_invoices }}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <hr/>

  <div>
    <a class="toggle-link" href="javascript:toggle_add_note ()">
      Add note
      <span id="toggle_arrow_down" class="entypo-down-open toggle-arrow"></span>
      <span id="toggle_arrow_up" class="entypo-up-open toggle-arrow" hidden></span>
    </a>
  </div>

  <div id="add_note" style="margin:10px 0px 10px 0px; overflow:hidden" hidden>
    <textarea style="height: 100px" type="text"></textarea>
    <button type="button" class="submit-button" style="float:right;">Add note</button>
  </div>

  <div class="notes-container">
    {% for note in data.general.notes %}
      <b>{{ note.timestamp }} {{ note.user_name}}</b><br/>
      {{ note.text}}<br/><hr/>
    {% endfor %}
  </div>

</body>
</html>
{% endautoescape %}