<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>

<div id="content">
  <h1>General Info</h1>

  <label>Name</label>
  <input style="margin-left:10px; width:180px" type="text" name="name" value="Ivan Susanin" disabled>

  <label style="margin-left:50px">Consultant</label>
  <select style="margin-left:10px; width:150px" name="consultant" disabled>
    <option value="TG" selected>Tatiana Gutu</option>
    <option value="MC">Marina Cotiuc</option>
  </select>

  <label style="margin-left:50px">ID</label>
  <input style="margin-left:10px; width:50px" type="text" name="id" value="0003" disabled>

  <br/> <hr/>

  <table class="form-table">
    <tr>
      <td style="width: 50%">
        <p>Projects</p>
        <table>
          <tr>
            <td style = "text-align: left;">Self-Assessment 2015</td>
            <td style = "text-align: left;">In progress</td>
          </tr>
          <tr>
            <td style = "text-align: left;">Child Benefits</td>
            <td style = "text-align: left;">Canceled</td>
          </tr>
          <tr>
            <td style = "text-align: left;">Annual tax return 2016</td>
            <td style = "text-align: left;">Completed</td>
          </tr>
          <tr>
            <td style = "text-align: left;">More...</td>
            <td></td>
          </tr>
        </table>
      </td>
      <td>
        <p>Payments</p>
        <table>
          <tr>
            <td style = "text-align: left;">Xero ID</td>
            <td style = "text-align: left;">0000000</td>
          </tr>
          <tr>
            <td style = "text-align: left;">Total invoices</td>
            <td style = "text-align: left;">16</td>
          </tr>
          <tr>
            <td style = "text-align: left;">Unpaid</td>
            <td style = "text-align: left;">3</td>
          </tr>
          <tr>
            <td style = "text-align: left;">Overdue</td>
            <td style = "text-align: left;">1</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <textarea style="margin-top:20px; width: 100%; height: 100px" type="text"></textarea>
  <button type="button" style="float:right; padding-right:0px; margin-right:0px">Add note</button>
  <div style= "width: 100%; height: 400px; overflow-y: scroll; border-style: ridge; border-width: 2px">
    <b>18/01/2016 Marina Cotiuc</b><br/>
    Maybe add notes here<br/><hr/>
    
    <b>20/01/2016 Sergei Romanov</b><br/>
    Notes cannot be edited. All corrections must come as followup notes<br/><hr/>

    <b>20/01/2016 Tatiana Gutu</b><br/>
    This client needs WTC and Child Benefits. Maybe Annual Tax return<br/><hr/>

    <b>23/01/2016 Sergei Romanov</b><br/>
    Project specific notes should go to the corresponding project. Same for tasks. Only general client notes should be here.<br/><hr/>



    <b>18/01/2016 Marina Cotiuc</b><br/>
    Maybe add notes here<br/><hr/>
    
    <b>20/01/2016 Sergei Romanov</b><br/>
    Notes cannot be edited. All corrections must come as followup notes<br/><hr/>

    <b>20/01/2016 Tatiana Gutu</b><br/>
    This client needs WTC and Child Benefits. Maybe Annual Tax return<br/><hr/>

    <b>23/01/2016 Sergei Romanov</b><br/>
    Project specific notes should go to the corresponding project. Same for tasks. Only general client notes should be here.<br/><hr/>
    <b>18/01/2016 Marina Cotiuc</b><br/>
    Maybe add notes here<br/><hr/>
    
    <b>20/01/2016 Sergei Romanov</b><br/>
    Notes cannot be edited. All corrections must come as followup notes<br/><hr/>

    <b>20/01/2016 Tatiana Gutu</b><br/>
    This client needs WTC and Child Benefits. Maybe Annual Tax return<br/><hr/>

    <b>23/01/2016 Sergei Romanov</b><br/>
    Project specific notes should go to the corresponding project. Same for tasks. Only general client notes should be here.<br/><hr/>
    <b>18/01/2016 Marina Cotiuc</b><br/>
    Maybe add notes here<br/><hr/>
    
    <b>20/01/2016 Sergei Romanov</b><br/>
    Notes cannot be edited. All corrections must come as followup notes<br/><hr/>

    <b>20/01/2016 Tatiana Gutu</b><br/>
    This client needs WTC and Child Benefits. Maybe Annual Tax return<br/><hr/>

    <b>23/01/2016 Sergei Romanov</b><br/>
    Project specific notes should go to the corresponding project. Same for tasks. Only general client notes should be here.<br/><hr/>
    <b>18/01/2016 Marina Cotiuc</b><br/>
    Maybe add notes here<br/><hr/>
    
    <b>20/01/2016 Sergei Romanov</b><br/>
    Notes cannot be edited. All corrections must come as followup notes<br/><hr/>

    <b>20/01/2016 Tatiana Gutu</b><br/>
    This client needs WTC and Child Benefits. Maybe Annual Tax return<br/><hr/>

    <b>23/01/2016 Sergei Romanov</b><br/>
    Project specific notes should go to the corresponding project. Same for tasks. Only general client notes should be here.<br/><hr/>
    <b>18/01/2016 Marina Cotiuc</b><br/>
    Maybe add notes here<br/><hr/>
    
    <b>20/01/2016 Sergei Romanov</b><br/>
    Notes cannot be edited. All corrections must come as followup notes<br/><hr/>

    <b>20/01/2016 Tatiana Gutu</b><br/>
    This client needs WTC and Child Benefits. Maybe Annual Tax return<br/><hr/>

    <b>23/01/2016 Sergei Romanov</b><br/>
    Project specific notes should go to the corresponding project. Same for tasks. Only general client notes should be here.<br/><hr/>
    <b>18/01/2016 Marina Cotiuc</b><br/>
    Maybe add notes here<br/><hr/>
    
    <b>20/01/2016 Sergei Romanov</b><br/>
    Notes cannot be edited. All corrections must come as followup notes<br/><hr/>

    <b>20/01/2016 Tatiana Gutu</b><br/>
    This client needs WTC and Child Benefits. Maybe Annual Tax return<br/><hr/>

    <b>23/01/2016 Sergei Romanov</b><br/>
    Project specific notes should go to the corresponding project. Same for tasks. Only general client notes should be here.<br/><hr/>
    <b>18/01/2016 Marina Cotiuc</b><br/>
    Maybe add notes here<br/><hr/>
    
    <b>20/01/2016 Sergei Romanov</b><br/>
    Notes cannot be edited. All corrections must come as followup notes<br/><hr/>

    <b>20/01/2016 Tatiana Gutu</b><br/>
    This client needs WTC and Child Benefits. Maybe Annual Tax return<br/><hr/>

    <b>23/01/2016 Sergei Romanov</b><br/>
    Project specific notes should go to the corresponding project. Same for tasks. Only general client notes should be here.<br/><hr/>




  </div>

</div>
</body>
</html>
{% endautoescape %}