<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript">
function edit_enable_all () {
  $(".delete-col").show ();
  $("#main-pen").hide ();
  $("#main-cross").show ();
}

function edit_disable_all () {
  $(".delete-col").hide ();
  $("#main-cross").hide ();
  $("#main-pen").show ();
}

function delete_attachment (id) {
  alert ("Deleting agreement [" + id + "]");
}

$("document").ready(function(){
  $("#uploadBtn").change(function() {
    if (this.value) {
      alert('Uploaded file [' + this.value + ']');
    }
  });
});

function toggle_upload ()
{
  $("#upload").slideToggle ("fast");
  $("#toggle_arrow_down").toggle (0);
  $("#toggle_arrow_up").toggle (0);

  document.getElementById ("custom").value = $("#custom-search").is (":visible");
}

</script>
</head>
<body>

  <table class="markup-table" style="overflow:hidden">
  <tr>
    <td>
      <h1>Agreements
        <a id="main-pen" href="javascript:edit_enable_all ()">
          <span class="edit-icon entypo-pencil icon-color"></span>
        </a>
        <a id="main-cross" href="javascript:edit_disable_all ()" hidden>
          <span class="edit-icon fontawesome-remove icon-color"></span>
        </a>
      </h1>
    </td>
    <td style="text-align:right;">
      <h1>Pasha Tushkanchik</h1>
    </td>
  </tr>
  </table>

  <div>
    <a class="toggle-link" href="javascript:toggle_upload ()">
      Upload
      <span id="toggle_arrow_down" class="entypo-down-open toggle-arrow" ></span>
      <span id="toggle_arrow_up" class="entypo-up-open toggle-arrow" hidden></span>
    </a>
  </div>

  <div id="upload" hidden>
    <input type="file" style="margin-right:10px;"/>
    <input class="submit-button" type="submit" value="Upload"/>
  </div>

  <table class="results-table">
    <tr>
      <th style="width: 70%; text-align: center;">Document</th>
      <th style="width: 20%; text-align: center;">Timestamp</th>
      <th class="delete-col" style="text-align: center;" hidden>Delete</th>
    </tr>
    <tr>
      <td style="text-align: left;"><a href="">Contract</a></td>
      <td>17:03:02</td>
      <td class="delete-col" hidden>
        <a href="javascript:delete_attachment (1)">
          <span class="edit-icon entypo-trash icon-color"></span>
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align: left;"><a href="">Authorisation copy HMRC</a></td>
      <td>12 Dec 2016</td>
      <td class="delete-col" hidden>
        <a href="javascript:delete_attachment (2)">
          <span class="edit-icon entypo-trash icon-color"></span>
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align: left;"><a href="">Internal Authorisation</a></td>
      <td>1 Jun 2016</td>
      <td class="delete-col" hidden>
        <a href="javascript:delete_attachment (3)">
          <span class="edit-icon entypo-trash icon-color"></span>
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align: left;"><a href="">Transfer of Soul Ownership</a></td>
      <td>1 Jan 2017</td>
      <td class="delete-col" hidden>
        <a href="javascript:delete_attachment (4)">
          <span class="edit-icon entypo-trash icon-color"></span>
        </a>
      </td>
    </tr>
  </table>

</body>
</html>
{% endautoescape %}