<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript">

function toggle_create_project ()
{
  $("#create_project").slideToggle ("fast");
  $("#toggle_arrow_down").toggle (0);
  $("#toggle_arrow_up").toggle (0);

  document.getElementById ("custom").value = $("#custom-search").is (":visible");
}

</script>
</head>
<body>

<div id="content">

  <table class="markup-table">
  <tr>
    <td>
      <h1>Projects</h1>
    </td>
    <td style="text-align:right;">
      <h1>Pasha Tushkanchik</h1>
    </td>
  </tr>
  </table>

  <div>
    <a class="toggle-link" href="javascript:toggle_create_project ()">
      Create New Project
      <span id="toggle_arrow_down" class="entypo-down-open toggle-arrow"></span>
      <span id="toggle_arrow_up" class="entypo-up-open toggle-arrow" hidden></span>
    </a>
  </div>

  <div id="create_project" hidden>
    <table class = "form-table">
      <tr>
        <td style="width:10%">Code</td>
        <td>
          <select style="margin-right:30px">
            <option disabled>Select project code</option>
            <option value="SA">Self Assessment</option>
            <option value="CB">Child Benefit</option>
            <option value="ATR">Annual Tax Return</option>
          </select>
          <span>Due Date</span>
          <input type="date" name="due_date" style="width:130px; margin-right:30px">
          <span>Owner</span>
          <input type="text" name="owner" value = "Tatiana Gutu" style="width:159px" readonly>
        </td>
      </tr>
      <tr>
        <td>Title</td>
        <td>
          <input type="text" name="title" value="Enter project title" style="width:100%;">
        </td>
      </tr>
      <tr>
        <td>Desc</td>
        <td>
          <textarea style="height: 100px" type="text"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <input class="submit-button" type="submit" value="Create"/>
        </td>
        <td>
          <a class="toggle-link" style="margin-left:10px; font-size: 17px;" href="clients">Cancel</a>
        </td>
      </tr>
    </table>
  </div>

  <hr/>

  <table class="results-table">
    <tr>
      <th style="width: 10%">Type</th>
      <th style="width: 50%">Title</th>
      <th style="width: 20%">Status</th>
      <th style="width: 20%">Due Date</th>
    </tr>
    <tr>
      <td>SA</td>
      <td><a href="project">Self Assessment 2015</a></td>
      <td>Overdue</td>
      <td>10 Feb 2015</td>
    </tr>
    <tr>
      <td>CB</td>
      <td><a href="project">Child Benefit</a></td>
      <td>In Progress</td>
      <td>10 Feb 2015</td>
    </tr>
    <tr>
      <td>SA</td>
      <td><a href="project">Self Assessment 2016</a></td>
      <td>In Progress</td>
      <td>10 Feb 2016</td>
    </tr>
    <tr>
      <td>ATR</td>
      <td><a href="project">Annual Tax Return Apr 2016</a></td>
      <td>Completed</td>
      <td>10 Feb 2015</td>
    </tr>
  </table>

</div>
</body>
</html>
{% endautoescape %}