<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>

  <div class="main-container">

    {% include "/templates/header/header.html" %}

    <!-- LEFT-CONTAINER -->
    <div class="left-container container">
      <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
        <h2 class="titular">CLIENTS</h2>
        <ul class="menu-box-menu">
          <li>
              <a class="menu-box-tab" href="/clients?page=search"><span class="icon entypo-search scnd-font-color"></span>Search</a>
          </li>
          <li>
              <a class="menu-box-tab" href="/clients?page=create"><span class="icon fontawesome-file scnd-font-color"></span>Create New Client</a>
          </li>
        </ul>
      </div>
    </div>


    <!-- MIDDLE-CONTAINER -->
    <div class="middle-container container">
      {% include data.body_template %}
    </div>

</div>

</body>
</html>
{% endautoescape %}