<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />


<script type="text/javascript">

function toggle_custom_search ()
{
  $("#custom_search").slideToggle ("fast");
  $("#toggle_arrow_down").toggle (0);
  $("#toggle_arrow_up").toggle (0);

  document.getElementById ("custom").value = $("#custom_search").is (":visible");
}

function on_page_load ()
{
  url_params = window.location.search;
  if (url_params.indexOf ("custom=true") != -1) {
    toggle_custom_search ();
  }
}

window.onload = on_page_load;

</script>

{% set status_colors = [ "#00FF00", "#FFFF00", "#FF0000"] %}

</head>

<body>

  <div>
    <a class="toggle-link" href="javascript:toggle_custom_search ()">
      Custom search
      <span id="toggle_arrow_down" class="entypo-down-open toggle-arrow"></span>
      <span id="toggle_arrow_up" class="entypo-up-open toggle-arrow hidden"></span>
    </a>
  </div>

  <div id="custom_search" hidden>
    <form>
      <input type="hidden" name="page" value="search">
      <input type="hidden" id="custom" name="custom" value="0">
      <table class="form-table">
        <tr>
          <td width="15%">
            Name
          </td>
          <td width="35%">
            <input type="text" id="name" name="name" value="{{ data.search.request.name }}">
          <td>
          <td width="15%">
            Reference
          </td>
          <td width="35%">
            <input type="text" name="ref" value="{{ data.search.request.ref }}">
          </td>
        </tr>
        <tr>
          <td>
            Consultant
          </td>
          <td>
            <select name="cons">
              <option value=""></option>
              {% for id, cons in data.search.consultants.iteritems () %}
                <option value={{id}} {% if id == data.search.request.cons %} selected {% endif %}>{{ cons.name }}</option>
              {% endfor %}
            </select>
          <td>
          <td></td>
          <td>
            <input class="submit-button" type="submit" value="Search">
          </td>
        </tr>
      </table>
    </form>
  </div>

  <hr/>

  <div>
    <table class = "results-table">
      <tr>
        <th>Reference</th>
        <th>Name</th>
        <th>Consultant</th>
        <th>Projects</th>
      </tr>
        {% for client in data.search.clients %}
          <tr>
            <td> <a href="client?id={{ client.id }}"> {{ client.ref }}</a></td>
            <td> <a href="client?id={{ client.id }}"> {{ client.name }}</a></td>
            <td>{{ data.search.consultants [client.consultant].name }}</td>
            <td>
            {% for project in client.projects %}
              <a href="#"> <span style="color:{{status_colors[project.status]}}";>{{ project.abbr }}</span> </a>
            {% endfor %}
            </td>
          </tr>
        {% endfor %}
    </table>

  </div>

</body>

</html>

{% endautoescape %}
