<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/scripts/edit_page.js"></script>

<script type="text/javascript">

function toggle_tasks ()
{
  $("#tasks-div").slideToggle ("fase");
  $("#tasks-down-arrow").toggle (0);
  $("#tasks-up-arrow").toggle (0);
}

function toggle_attachments ()
{
  $("#attachments-div").slideToggle ("fast");
  $("#attachments-down-arrow").toggle (0);
  $("#attachments-up-arrow").toggle (0);
}

function toggle_add_note ()
{
    $("#add-note").slideToggle ("fast");
    $("#down-arrow").toggle (0);
    $("#up-arrow").toggle (0);

    document.getElementById ("custom").value = $("#custom-search").is (":visible");
}

</script>

</head>
<body>

  <table class="markup-table">
    <tr>
      <td style="width=80%">
        <h1>Self Assessment 2015
          <a id="edit-page-enable-btn" href="javascript:edit_page_enable ()">
            <span class="edit-icon entypo-pencil icon-color"></span>
          </a>
          <a id="edit-page-disable-btn" href="javascript:edit_page_disable ()" hidden>
            <span class="edit-icon fontawesome-remove icon-color"></span>
          </a>
        </h1>
      </td>
      <td style="text-align:right;"><h1> Pasha Tushkanchik </h1></td>
    </tr>

    <tr>
      <td>
        <textarea rows="5" name="description">Prepare self assessment for 2015</textarea>
      </td>
      <td>
        <table>
          <tr>
            <td>Owner</td>
            <td>Tatiana Gutu</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>In Progress</td>
          </tr>
          <tr>
            <td>Due Date</td>
            <td>12 Dec 2016</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <hr/>

  <div>
      <a class="toggle-link" href="javascript:toggle_tasks ()">
        Tasks
        <span id="tasks-down-arrow" class="entypo-down-open icon-color toggle-arrow" hidden></span>
        <span id="tasks-up-arrow" class="entypo-up-open icon-color toggle-arrow"></span>
      </a>
  </div>


  <div id="tasks-div">
    <table class = "results-table" width=720px>
      <tr>
        <th>Title</th>
        <th>Owner</th>
        <th>Due Date</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Call HMRC tax code</td>
        <td>Svetlana Onofrei</td>
        <td>21 Jan 2016</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Create Invoice</td>
        <td>Svetlana Onofrei</td>
        <td>14 Jan 2016</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Catch all pokemons in Westgate House</td>
        <td>Svetlana Onofrei</td>
        <td>25 Jan 2016</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Do nothing</td>
        <td>Sergii Romanov</td>
        <td>31 Jan 2020</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td> <a href="#">View all 4 task(s)</a></td>
        <td colspan=3></td>
      <tr>
    </table>
  </div>

  <hr/>

  <div>
      <a  class="toggle-link" href="javascript:toggle_attachments ()">
        Attachments
        <span id="attachments-down-arrow" class="entypo-down-open icon-color toggle-arrow" ></span>
        <span id="attachments-up-arrow" class="entypo-up-open icon-color toggle-arrow" hidden></span>
      </a>
  </div>


  <div id="attachments-div" hidden>
    <table class = "results-table">
      <tr>
        <th>Title</th>
        <th>Who uploaded</th>
        <th>Timestamp</th>
      </tr>
      <tr>
        <td>Contract</td>
        <td>Svetlana Onofrei</td>
        <td>21 Jan 2016</td>
      </tr>
      <tr>
        <td>Authorisation copy HMRC</td>
        <td>Svetlana Onofrei</td>
        <td>14 Jan 2016</td>
      </tr>
      <tr>
        <td>Internam authorisation</td>
        <td>Tatiana Gutu</td>
        <td>25 Jan 2016</td>
      </tr>
      <tr>
        <td>Transfer of Soul Ownership</td>
        <td>Svetlana Onofrei</td>
        <td>31 Jan 2010</td>
      </tr>
      <tr>
        <td> <a href="#">View all 14 attachment(s)</a></td>
        <td colspan=3></td>
      <tr>
    </table>
  </div>

  <hr/>

  <div>
    <a  class="toggle-link" href="javascript:toggle_add_note ()">
      Add note
      <span id="down-arrow" class="entypo-down-open icon-color toggle-arrow"></span>
      <span id="up-arrow" class="entypo-up-open icon-color toggle-arrow" hidden></span>
    </a>
  </div>

  <div id="add-note" style="overflow:hidden" hidden>
    <textarea style="margin-top:10px; width: 100%; height: 100px" type="text"></textarea>
    <button type="button" class="submit-button" style="float:right;">Add note</button>
  </div>

  <div class="notes-container">
      <b>18/01/2016  Svetlana Onofrei</b><br/>
      Project specific notes should go to the corresponding project. Same for tasks. Only general client notes should be here.<br/><hr/>

      <b>18/01/2016 Sergii Romanov</b><br/>
      This client needs WTC and Child Benefits. Maybe Annual Tax return.<br/><hr/>

      <b>18/01/2016 Sergii Romanov</b><br/>
      Notes cannot be edited. All corrections must come as followup notes
<br/><hr/>

      <b>18/01/2016 Tatiana Gutu</b><br/>
      Maybe add notes here.<br/><hr/>
  </div>

</body>
</html>
{% endautoescape %}
