<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
  <div class="main-container">
    {% include "/templates/header/header.html" %}

    <div class="left-container container">
      <div class="menu-box block">
        <h2 class="titular">PROJECT</h2>
        <ul class="menu-box-menu">
          <li>
            <a class="menu-box-tab" href="/project?page=home"><span class="icon fontawesome-list-alt icon-color"></span>Home</a>
          </li>
          <li>
            <a class="menu-box-tab" href="/project?page=attachments"><span class="icon entypo-attach icon-color"></span>Attachments</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="middle-container container">
      {% include data.body_template %}
    </div>

  </div>
</body>

</html>
{% endautoescape %}
